<div class="box env" data='<%- JSON.stringify(env) %> '>
    <h2 class="title">Environment Variables</h2>
    <div class="content">
        <ol>
            <% Object.keys(env).reverse().forEach(key => { %>
                <li><%= key %>=<%- env[key] %></li>
            <% }) %>
        </ol>
    </div>
</div>