
<div class="box info">
    <div class="title" id="loading">Loading connection information...</div>
    <div class="row content">
        <div>
            <p>Your IP: </br></br> <div id="clientIP" class="value box-line-xs"></div></p></br>
            <p>Your Location: </br></br> <div id="location" class="value box-line-lg"></div></p>
        </div>
        <div>
            <p>Latency to appfleet: </br></br> <div id="latency" class="value box-line-xs"></div></p></br>
            <p>appfleet region: </br></br> <div id="region" class="value box-line-lg"></div></p>
        </div>
    </div>
</div>