<nav class="navbar container">
    <img class="logo" src="assets/logo.png" alt="logo">
    <ul>
        <li><a href="https://appfleet.com/">appfleet website</a></li>
        <li><a href="https://www.youtube.com/watch?v=7n617ZF-oT4">explanation video</a></li>
    </ul>
</nav>
